.about-us {
    max-width: 100%;
    margin: 0 auto;
}

.about-us-image img{
width: 100%;
margin: 0 auto;
border: 2px solid black;
box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.about-us-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
    text-align: center;
    margin-top: 90px
}

.about-us-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us-link {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #202020;
    max-width: 160px;
    margin: 0 auto;
    margin-bottom: 114px;
}

.about-us-link:hover{
    color: #002D5B;
    transition: all 0.5s;
    text-shadow: 0px 0px 2px #002e5b68;
}