* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #FAFAFA;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap {
    display: flex;
}

header {
    padding-top: 60px;
    padding-bottom: 90px
}

.logo img {
    max-width: 150px;
}

.search {
    display: flex;
}

.btn-search {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #A8A8A8;
    background-image: url(/src/assets/pictures/header/Search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px 52px;
    margin-left: 27px;
    cursor: pointer;
    transition: all .5s;
}

.btn-search:hover {

    background-image: url(/src/assets/pictures/header/SearchGrey.png);

}

.search input {
    background-color: #FAFAFA;
    border: none;
    max-width: 296px;
    height: 52px;
    border-bottom: 2px solid #A8A8A8;
    text-align: left;
    color: black;
    -webkit-box-shadow: inset 0 0 0 50px #FAFAFA;
    -webkit-text-fill-color: #000;
}

.search input::placeholder {
    text-align: left;
    padding-left: 30px;
}

.menu {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #202020;
    display: flex;
    gap: 24px;
}

.menu a:visited {
    color: #202020;
}

.menu a {
    position: relative;
    color: #202020;
}

.menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    margin: 0 0 -11px 0;
    background-color: #A8A8A8;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.menu a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.menu a:hover {
    color: #002D5B;
    transition: all .5s;
    text-shadow: 0px 0px 2px #002e5b68;
}

a:visited {
    color: #202020;
}


@media screen and (max-width: 768px) {
    .menu button {
        display: none;
    }
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    min-height: 524px;
    max-width: 1320px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    align-items: flex-start;
    text-align: center;
}

.product {
    width: 300px;
    box-shadow: 0 0px 10px 1px rgba(221, 221, 221, 1);
    margin-bottom: 90px;
    transition: 1.5s ease;
}

.product-link {
    color: black;
    font-weight: 500;
    transition: 0.5s ease;

}

.product-link:hover {
    color: #53535368;

}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 280px;
    height: 280px;
    transition: 2.5s ease;
}

.product img:hover {
    transform: scale(1.05);
}

.product-title {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}

.product-price {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.product-type,
.product-country,
.product-price,
.product-volume,
.product-popularity {
    margin-top: 5px;
}

.product-type {
    font-size: 14px;
}

.buy-button {
    width: 100%;
    min-height: 52px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 16px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 18px;
    color: #202020;
    user-select: none;
}

.buy-button:hover {
    color: white;
    box-shadow: inset 0 -300px 0 0 #002D5B;
    transition: .5s ease-in-out 0s, color .7s;
    border: 2px solid #002D5B;
    outline: none;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-bottom: 86px;
    margin-left: -42px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    padding-bottom: 8px;
    background-color: #FAFAFA;
    border: none;
    border-bottom: 1px solid #A8A8A8;
    border-radius: 0px;
    background-image: url("/src/assets/pictures/catalog/vector-button.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    outline: none;
    color: #202020;
    background-position-y: 2px;
    font-size: 20px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    padding-right: 14px;
}

select:focus {
    border: none;
    border-bottom: 1px solid #A8A8A8;
    border-radius: 0px;
    color: #202020;
    outline: none;
}

select:focus:hover {
    outline: none;
    border-bottom: 1px solid #A8A8A8;
    border-radius: 0px;
    color: #202020;
}

select:hover {
    outline: none;
}

section:focus {
    outline: none;
}

select>option {
    background-color: #F2F2F2;
    border: 0;
    padding-right: 15px;
    height: 31px;
    width: 220px;
    border: none;
}

.navbar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(62, 62, 62);
}

.navbar p {
    float: left;
    font-size: 16px;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-filter {
    float: left;
    overflow: hidden;
}

.dropdown-filter .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: aliceblue;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar p:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(40, 40, 40);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(40, 40, 40);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    float: none;
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content p:hover {
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}

.dropdown-filter:hover .dropdown-content {
    display: block;
}

.Request-call {
    display: flex;
    padding-bottom: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-search {
    display: flex;
    flex-direction: row;
    gap: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Request-call-text-01 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 12px;
    text-align: center;
}

.Request-call-text-02 {
    font-family: 'Yeseva One', cursive;
    font-size: 56px;
    line-height: 72px;
    padding-bottom: 40px;
    text-align: center;
}

#input-question {
    padding: 50px;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    text-align: center;
    padding: 16.5px 109px;
}

.input-your-question {
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 18px;
    background-color: transparent;
    user-select: none;
    color: #202020;
}

input {
    max-width: 150px;
    text-align: center;
    color: black;
}

input::placeholder {
    text-align: center;
}

input:focus {
    outline: none;
}

#phone {
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    text-align: center;
    padding: 16.5px 109px;
}

.input-your-phone {
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: transparent;
    user-select: none;
    color: #202020;
}

.btn-call {
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding: 17.0px 97px;
    border: none;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    cursor: pointer;
    user-select: none;
}

.btn-call:hover {
    color: white;
    box-shadow: inset 0 -300px 0 0 #002D5B;
    transition: box-shadow .5s ease-in-out 0s, color .7s;
    border: 0px solid #002D5B;
    outline: none;
}