.contacts {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
}

.contacts-title {
    text-align: center;
    margin-bottom: 90px;
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 72px;
}

.contacts-group {
    width: 312px;
    height: 214px;
    margin-bottom: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.group-title {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
}

.group-text {
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;

}

#map {
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: 330px;
}