@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Light'),
    url(../font/Josefin_Sans/static/JosefinSans-Light.ttf);
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;    
}
@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Regular'),
    url(../font/Josefin_Sans/static/JosefinSans-Regular.ttf);
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;    
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Medium'),
    url(../font/Josefin_Sans/static/JosefinSans-Medium.ttf);
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;    
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans SemiBold'),
    url(../font/Josefin_Sans/static/JosefinSans-SemiBold.ttf);
    font-weight: 600;  
    font-family: 'Josefin Sans', sans-serif;  
}

@font-face {
    font-family: 'Yeseva One';
    src: local('Yeseva One Regular'),
    url(../font/Yeseva_One/YesevaOne-Regular.ttf);
    font-weight: 400;
    font-family: 'Yeseva One', cursive;    
}
